.top-images{
  width: 100vw;
  height: 40vh;
  min-width: 347px;
  background-image: url('https://static.pexels.com/photos/271672/pexels-photo-271672.jpeg');
  background-size: cover;
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
}
.top-images__image{

}
.container{
  display: flex;
  /*flex-directiobnt: flex-start;*/
}
.container__list{
  /*width: calc(100vw - 500px);*/
  /*min-width: 320px*/
}
.section{
  min-width: 320px;
  min-height: 138px;
  display: flex;
  align-items: center;
  padding-left: 4vw;
  padding-right: 4vw;

  padding-top: 24px;
  padding-bottom: 24px;
}
.section--light{

}
.section--dark{
  background-color: rgba(0,0,0,.02);
}
.section--01{
  justify-content: space-between;
}
.title{

}
.title__text{
  font-family: Montserrat-Regular;
  font-size: 2.25em;
  color: #4B4B4B;
}
.title__rating{
  background-image: url('../../assets/5stars.png');
  width: 188px;
  height: 24px;
  background-size: contain;
  margin-top: 8px;
}
.rate{
  text-align: right;
}
.rate__price{
  font-family: Roboto-Regular;
  font-size: 48px;
  color: #00A699;
}
.rate__text{
  /* per night: */
  font-family: Roboto-Light;
  font-size: 18px;
  color: #000000;
}
.section--02{
  justify-content: space-around;
}
.icon-set{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-set__image{
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-set__text{
  /* 4 Guests: */
  font-family: Roboto-Medium;
  font-size: 16px;
  color: #4B4B4B;
  letter-spacing: 2.3px;

  margin-top: 12px;
}
.icon-set__image--guests{
  background-image: url('../../assets/guests_icon.png')
}
.icon-set__image--beds{
  background-image: url('../../assets/bed_icon.png')
}
.icon-set__image--baths{
  background-image: url('../../assets/bath_icon.png')
}
.section--03{
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #000000;
  line-height: 42px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.see-more{
  margin-top: 24px;
  color: #00A699;
}
.section--05{
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.section--06{
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.section__title{
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.section__list{
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #000000;
}
.section--07{
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 80px;
}
.review{
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}
.review__person{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
.review__picture{
  width: 86px;
  height: 86px;
  border-radius: 100%;
  background-image: url('http://www.danistorlie.com/_include/img/location/woman-profile.png');
  background-size: contain;
  margin-bottom: 12px;
}
.review__name{
  font-family: Montserrat-Light;
  font-size: 18px;
  color: #000000;
}
.review__text{
  font-family: Roboto-Regular;
  font-size: 18px;
  color: #000000;
  line-height: 37px;
  margin-left: 42px;
}
.booking{
  margin-top: 32px;
  margin-right: 42px;
  min-width: 400px;
  height: 376px;
  padding-bottom: 30px;
  padding-top: 12px;
  padding-left: 30px;
  padding-right: 30px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);

  display:flex;
  flex-direction: column;
  justify-content: space-between;

}
.booking-button{
  /* Book Now: */
  font-family: Roboto-Regular;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 2.3px;
  line-height: 66px;

  background: #00A699;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;
  width: 100%;

  box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.24);
}
