<carousel class = "top-images">
  <slide class = "top-images" *ngFor="let image of property?.images">
    <img [src]="getImageUrl(image.image)" [alt]="image.text" >
  </slide>
</carousel>
<div class = "booking-button" (click) = "toggleModal()">
  REQUEST TO BOOK
</div>
<app-booking-modal *ngIf = "showModal" (closeModal)="toggleModal($event)" [property] = "property"></app-booking-modal>

<div class = "section section--light section--01">
  <div class = "title">
    <div class = "title__text">
      {{property?.title}}
    </div>
    <div class = "title__rating"></div>
  </div>
  <div class = "rate">
    <div class = "rate__price">
      ${{property?.default_rate}}
    </div>
    <div class = "rate__text">
      per night
    </div>
  </div>
</div>
<div class = "section section--dark section--02">
  <div class = "icon-set">
    <div class = "icon-set__image icon-set__image--guests"></div>
    <div class = "icon-set__text">{{property?.guests}} Guests</div>
  </div>
  <div class = "icon-set">
    <div class = "icon-set__image icon-set__image--beds"></div>
    <div class = "icon-set__text">{{property?.beds}} Beds</div>
  </div>
  <div class = "icon-set">
    <div class = "icon-set__image icon-set__image--baths"></div>
    <div class = "icon-set__text">{{property?.baths}} Bathrooms</div>
  </div>
</div>
<div class = "section section--light section--03">
  {{property?.description}}
  <div class = "see-more">
    See More
  </div>
</div>
<div class = "section section--dark section--04">
  <iframe *ngIf ="propertyLoaded" [src]="property?.map_embed_src | safe" width="100%" height="450" frameborder="0" style="border:0; pointer-events: none" scrollwheel="false"  allowfullscreen></iframe>
</div>
<div class = "section section--light section--05">
  <div class = "section__title">
    Amenities
  </div>
  <div class = "section__list">
    {{property?.amenities}}
  </div>
</div>
<div class = "section section--dark section--06">
  <div class = "section__title">
    House Rules
  </div>
  <div class = "section__list">
    {{property?.house_rules}}
  </div>
</div>
<div class = "section section--light section--07">
  <div class = "section__title">
    Reviews
  </div>
  <div  *ngFor = "let review of property?.reviews" class = "review">
    <div class = "review__person">
      <div class = "review__picture" [ngStyle]="{'background-image' : 'url('+getImageUrl(review.image)+')'}"></div>
      <div class = "review__name">{{review.name}}</div>
    </div>
    <div class =  "review__text">
      {{review.text}}
    </div>
  </div>
</div>
