<div class = "top-images">
  <!-- <div class = "top-images__image"></div>
  <div class = "top-images__button top-images__button-left"></div>
  <div class = "top-images__button top-images__button-right"></div>
  <div class = "top-images__description"></div> -->
</div>
<div class = "booking-button" (click) = "toggleModal()">
  REQUEST TO BOOK
</div>
<app-booking-modal *ngIf = "showModal" (closeModal)="toggleModal($event)"></app-booking-modal>
<div class = "section section--light section--01">
  <div class = "title">
    <div class = "title__text">
      Zion House
    </div>
    <div class = "title__rating"></div>
  </div>
  <div class = "rate">
    <div class = "rate__price">
      $150
    </div>
    <div class = "rate__text">
      per night
    </div>
  </div>
</div>
<div class = "section section--dark section--02">
  <div class = "icon-set">
    <div class = "icon-set__image icon-set__image--guests"></div>
    <div class = "icon-set__text">4 Guests</div>
  </div>
  <div class = "icon-set">
    <div class = "icon-set__image icon-set__image--beds"></div>
    <div class = "icon-set__text">2 Beds</div>
  </div>
  <div class = "icon-set">
    <div class = "icon-set__image icon-set__image--baths"></div>
    <div class = "icon-set__text">1 Bathrooms</div>
  </div>
</div>
<div class = "section section--light section--03">
  Bacon ipsum dolor amet fatback bresaola tongue spare ribs, cupim swine biltong rump.
  Flank shank brisket, fatback chuck meatball tri-tip venison swine shankle.
  Shank frankfurter swine, corned beef tenderloin picanha flank sirloin.
  Kevin chuck cupim, bacon ground round capicola andouille doner short ribs cow
  tongue kielbasa landjaeger bresaola. Cupim landjaeger tongue, jowl alcatra
  shoulder drumstick
  <div class = "see-more">
    See More
  </div>
</div>
<div class = "section section--dark section--04">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101765.05476716427!2d-113.42300506202771!3d37.14894334404734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80caf134ea400f6d%3A0x28c42649981dafcc!2sHurricane%2C+UT+84737!5e0!3m2!1sen!2sus!4v1492107300870" width="100%" height="450" frameborder="0" style="border:0; pointer-events: none" scrollwheel="false"  allowfullscreen></iframe>
</div>
<div class = "section section--light section--05">
  <div class = "section__title">
    Amenities
  </div>
  <div class = "section__list">
    Air Conditioning, Heating, Wifi, Washer, Dryer, Parking, TV
  </div>
</div>
<div class = "section section--dark section--06">
  <div class = "section__title">
    House Rules
  </div>
  <div class = "section__list">
    No Smoking, No parties, No Pets, Check in at 3 PM, Check out at 11 AM
  </div>
</div>
<div class = "section section--light section--07">
  <div class = "section__title">
    Reviews
  </div>
  <div class = "review">
    <div class = "review__person">
      <div class = "review__picture"></div>
      <div class = "review__name">Sarah</div>
    </div>
    <div class =  "review__text">
      Bacon ipsum dolor amet fatback bresaola tongue spare ribs, cupim swine
      biltong rump. Flank shank brisket, fatback chuck meatball tri-tip
      venison swine shankle. Shank frankfurter swine, corned beef tenderloin
      picanha flank sirloin. Kevin chuck cupim, bacon ground round capicola
      andouille doner short ribs cow tongue kielbasa landjaeger bresaola.
      Cupim landjaeger tongue, jowl alcatra shoulder drumstick!
    </div>
  </div>
  <div class = "review">
    <div class = "review__person">
      <div class = "review__picture"></div>
      <div class = "review__name">Sarah</div>
    </div>
    <div class =  "review__text">
      Bacon ipsum dolor amet fatback bresaola tongue spare ribs, cupim swine
      biltong rump. Flank shank brisket, fatback chuck meatball tri-tip
      venison swine shankle. Shank frankfurter swine, corned beef tenderloin
      picanha flank sirloin. Kevin chuck cupim, bacon ground round capicola
      andouille doner short ribs cow tongue kielbasa landjaeger bresaola.
      Cupim landjaeger tongue, jowl alcatra shoulder drumstick!
    </div>
  </div>
</div>
